@charset "UTF-8";

body
{
    background-color: rgba(187, 49, 49, 0.5);
}

h1
{
    background-color: lightblue;
    
    height: 300px;
    width: 300px;

    border: 10px double rgb(30, 131, 30);

    padding: 10px;

    margin: 20px 20px 40px 20px;

    outline: 5px dashed rgb(240, 35, 12);
}

a
{
    border: 10px double limegreen;

    padding: 10px;
}
